/* NAVIGATION MENU */

#nav-top {
  display: flex;
  background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
  font-size: 1.2em;
}

.about {
  flex: 1 1 auto;
}

.logo {
  flex: 1 1 auto;
  text-align: center;
}

.login {
  flex: 1 1 auto;
  text-align: right;
}

/* CONTENT LEVEL 1 */

#levels {
  display: grid;
  grid-template-columns: repeat(2, [col-start] 1fr);
  grid-gap: 5px;
}

#profile-image > img {
  grid-column: col-start / span 1;
  width: 100%;
}

#profile-description {
  grid-column: col-start 2 / span 1;
}

/* CONTENT LEVEL 2 */

#event-description {
  grid-column: col-start / span 1;
}

#event-image > img {
  grid-column: col-start 2 / span 1;
  width: 100%;
}

/* CONTENT LEVEL 3 */

#notifs-image > img {
  grid-column: col-start / span 1;
  width: 100%;
}

#notifs-content {
  grid-column: col-start 2 / span 1;
}